.venv
.vscode
java/target
.DS_S
.DS_Store
C#/bin
C#/obj
C#/C#.csproj
C#/Program.cs
Leetcode.sln
Swift/swift-executable/.build
Swift/swift-executable/.vscode
Swift/swift-executable/Package.swift
Swift/swift-executable/Sources/swift-executable/swift_executable.swift